<nav>
    {% for item in site.data.amywright.navigation %}
    <div class="nav-border-container">
        <div class="nav-item">
            <a href="{{ item.link }}">
                {{ item.name }}
            </a>
            {% if item.name == "Projects" %}
                <div class="nav-projects-dropdown">
                    {% for project in site.data.amywright.projects %}
                        <a href="/amywright/projects/{{ project.path }}.html">{{ project.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="nav-border-container">
        <div class="nav-socials-desktop">
            <div class="social-link link-cohost">
                <div>cohost: </div>
                <a href="https://cohost.org/amy">@amy</a>
            </div>
            <div class="social-link link-github">
                <div>GitHub: </div>
                <a href="https://github.com/foreverWIP">@foreverWIP</a>
            </div>
            <div class="social-link link-email">
                <div>E-Mail: </div>
                <a href="mailto:amywrightmail@protonmail.com">amywrightmail</a>
            </div>
        </div>
        <div class="nav-socials-mobile">
            <div class="social-link link-cohost">
                <a href="https://cohost.org/amy"><img src="https://cohost.org/static/7ec6f0f3aef87d734f9b.png" /></a>
            </div>
            <div class="social-link link-github">
                <a href="https://github.com/foreverWIP"><img src="https://github.com/fluidicon.png" /></a>
            </div>
            <div class="social-link link-email">
                <a href="mailto:amywrightmail@protonmail.com">✉</a>
            </div>
        </div>
    </div>
</nav>
