---
---

@charset "utf-8";

@font-face {
    font-family: 'IRIS_STD_REGULAR';
    src:url('/assets/fonts/IRIS_STD_REGULAR.woff') format('woff'),
          url('/assets/fonts/IRIS_STD_REGULAR.woff2') format('woff2'),
          url('/assets/fonts/IRIS_STD_REGULAR.eot'),
          url('/assets/fonts/IRIS_STD_REGULAR.eot?#iefix') format('embedded-opentype'),
          url('/assets/fonts/IRIS_STD_REGULAR.otf') format('truetype');
  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    background-image: url('/assets/img/cgtcomms/background.png');
    background-size: 30%;
}

.page-header {
    position: relative;
    text-align: center;
    height: 250px;
    padding-bottom: 40px;
}

.page-header-text {
    bottom: 0%;
    left: 35.5%;
    position: absolute;
    font-family: 'IRIS_STD_REGULAR';
    font-size: 245px;
    text-align: justify;
    width: 64.5%;
    color:lightcoral;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
}

.initial-content {
    background-color: rgba($color: #230083, $alpha: 0.9);
    font-family: Arial, Helvetica, sans-serif;
}