---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$color-bg-dark: #311847;
$color-bg-mid: #370e3d;
$color-bg-light: #55125f;
$color-content-dark: #33233a;
$color-content-mid: #472783;
$color-content-midlight: #7498cf;
$color-content-light: #c2d7ff;
$color-content-header: #3e61d4;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

body {
    margin-top: 8px;
    margin-bottom: 32px;
    background-attachment: fixed;
    $color2: rgba($color: $color-bg-light, $alpha: 1.0);
    $color1: rgba($color: $color-bg-mid, $alpha: 1.0);
    background-color: rgba($color: $color-bg-dark, $alpha: 1.0);
    background-image: linear-gradient(30deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
                      linear-gradient(150deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
                      linear-gradient(30deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
                      linear-gradient(150deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
                      linear-gradient(60deg, $color2 25%, transparent 25.5%, transparent 75%, $color2 75%, $color2),
                      linear-gradient(60deg, $color2 25%, transparent 25.5%, transparent 75%, $color2 75%, $color2);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.page-header {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    @include lg {
        width: 800px;
    }
}

.page-header > img {
    width: 100%;
}

.page-content {
    p, h1, ul > li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35pt;
        @include lg {
            font-size: 15pt;
        }

        img {
            width: 100%;
        }

        color: $color-content-midlight;

        background-color: rgba($color: $color-bg-light, $alpha: 0.4);
        box-shadow: 2px 4px 20px 20px rgba($color: $color-bg-light, $alpha: 0.4);
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45pt;
        @include lg {
            font-size: 25pt;
        }
        color: $color-content-header;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        color: $color-content-header;
        font-size: 40pt;
        @include lg {
            font-size: 20pt;
        }
    }

    a {
        text-decoration: none;
        color: $color-content-light;
    }
    a:hover {
        text-shadow: 0px 0px 10px $color-content-light;
    }

    code {
        background-color: $color-content-dark;
        padding: 0.1em;
        font-size: 35pt;
        @include lg {
            font-size: 15pt;
        }
        font-weight: bold;
    }
}

.home-portrait-bullets {
    display: flex;
    div {
        > p {
            margin-top: 0;
        }
    }
    img {
        background-color: rgba($color: $color-bg-light, $alpha: 0.4);
        box-shadow: 2px 4px 20px 20px rgba($color: $color-bg-light, $alpha: 0.4);
        width: 100%;
        height: 100%;
        padding-right: 1em;
        @include lg {
            width: 40%;
            height: 40%;
            padding-right: 3em;
        }
    }
}

.page-container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    @include lg {
        width: 800px;
    }
    padding: 2em;

    border: 0.6em solid rgba($color: $color-content-mid, $alpha: 1.0);
    background-color: rgba($color: $color-content-dark, $alpha: 0.6);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba($color-bg-mid, 0) 0%, rgba($color-bg-mid, 0.7) 10%, rgba($color-bg-mid, 0.7) 90%, rgba($color-bg-mid, 0) 100%);

    .nav-border-container {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        width: 100%;
        border-top: 0.5em solid $color-content-midlight;
        border-bottom: 0.5em solid $color-content-midlight;
        @include lg 
        {
            border-top-width: 0.2em;
            border-bottom-width: 0.2em;
        }
        
        > .nav-item {
            height: 100%;
            display: grid;
            a {
                display: inline-block;
                height: min-content;
                padding-top: 0.2em;
                margin-bottom: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 48pt;
                @include lg {
                    font-size: 24pt;
                }
                text-decoration: none;
                color: $color-content-light;
            }
            a:hover {
                text-shadow: 0px 0px 10px $color-content-light;
            }
            border-left: 0.1em solid $color-content-midlight;
            border-right: 0.1em solid $color-content-midlight;

            .nav-projects-dropdown > a {
                font-size: xx-large;
                @include lg {
                    font-size: medium;
                }
            }
        }

        > .nav-item:visited {
            color: $color-content-light;
        }
    }

    .nav-border-container:first-child > .nav-item {
        border-left: 0em;
        border-right: 0.25em solid $color-content-midlight;
        @include lg {
            border-right: 0.1em solid $color-content-midlight;
        }
    }

    .nav-border-container:last-child > .nav-item {
        border-right: 0em;
        border-left: 0.12em solid $color-content-midlight;
        @include lg {
            border-right: 0.05em solid $color-content-midlight;
        }
    }

    .nav-border-container .nav-projects-dropdown {
        display: none;
    }

    .nav-border-container:hover .nav-projects-dropdown {
        display: inherit;
    }
}

.page-footer {
    font-family: Arial, Helvetica, sans-serif;
    color: $color-content-midlight;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24pt;
    @include lg {
        font-size: 14pt;
    }
    a {
        text-decoration: none;
        color: $color-content-light;
    }
    a:hover {
        text-shadow: 0px 0px 10px $color-content-light;
    }
}

.nav-socials-desktop {
    @include sm {
        display: none;
    }
    @include lg {
        display: inherit;
    }
    padding-left: 1em;
    padding-right: 1em;
}

.nav-socials-mobile {
    @include sm {
        display: flex;
        padding-top: 0.35em;

        padding-right: 2em;

        .social-link {
            flex-grow: 1;
        }

        .link-email a {
            font-size: 40pt;
        }
    }
    @include lg {
        display: none;
    }
}

.social-link {
    font-family: Arial, Helvetica, sans-serif;
    color: $color-content-midlight;
    display: flex;
    div {
        text-align: left;
        width: 50%;
    }
    a {
        flex-grow: 1;
        text-align: right;
        text-decoration: none;
        color: $color-content-light;

        img {
            width: 4em;
            height: 4em;
        }
    }
    a:hover {
        text-shadow: 0px 0px 10px $color-content-light;
    }
}

.neid-preview-data {
    display: flex;

    img {
        flex-grow: 1;
    }

    img:first-child {
        padding-right: 0.3em;
        @include lg {
            padding-right: 0.15em;
        }
    }
    img:last-child {
        padding-left: 0.3em;
        @include lg {
            padding-right: 0.15em;
        }
    }
}