body {
  margin-top: 0;
  line-height: 1.5;
  background-attachment: fixed;
  background-color: #0d080b;
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; }

.header-name {
  color: #c2d7ff !important; }

.page-sidebar {
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #261928;
  height: 100vh; }
  @media (min-width: 992px) {
    .page-sidebar {
      position: fixed;
      float: left;
      width: 20vw;
      top: 0;
      bottom: 0;
      height: 100vh; } }
  @media (max-width: 991px) {
    .page-sidebar {
      height: 98.9vh; } }
  @media (max-width: 991px) {
    .page-sidebar .logo {
      display: none; } }
  .page-sidebar img {
    max-width: 100px;
    max-height: 100px; }
  .page-sidebar > svg > g > g > path {
    fill: #7498cf; }
  .page-sidebar > svg > g > g > polygon {
    fill: #7498cf; }

.menu-button {
  position: absolute;
  left: 0;
  top: 0; }
  .menu-button a .sidebar-icon {
    margin-top: -20%; }

.top-menu {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  padding-bottom: 25px;
  background-color: #33233a; }
  @media (min-width: 992px) {
    .top-menu {
      display: none; } }
  .top-menu .logo {
    max-height: 128px;
    margin-left: 85vw;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 128px; }
  .top-menu h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45pt;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #eaaaf6; }
    @media (min-width: 992px) {
      .top-menu h1 {
        font-size: 45pt; } }
.page-content {
  position: absolute;
  right: 0px;
  padding-right: 2em;
  padding-bottom: 1em; }
  @media (min-width: 992px) {
    .page-content {
      width: 75vw; } }
  @media (max-width: 991px) {
    .page-content {
      padding-left: 2em;
      margin-top: 7em; } }
  .page-content video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .page-content p,
  .page-content h1,
  .page-content ul > li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35pt;
    color: #7498cf; }
    @media (min-width: 992px) {
      .page-content p,
      .page-content h1,
      .page-content ul > li {
        font-size: 15pt; } }
    .page-content p img,
    .page-content p audio,
    .page-content h1 img,
    .page-content h1 audio,
    .page-content ul > li img,
    .page-content ul > li audio {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      @media (max-width: 991px) {
        .page-content p img,
        .page-content p audio,
        .page-content h1 img,
        .page-content h1 audio,
        .page-content ul > li img,
        .page-content ul > li audio {
          width: 75%; } }
  .page-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60pt;
    text-align: center;
    margin-top: 0;
    color: #eaaaf6; }
    @media (min-width: 992px) {
      .page-content h1 {
        font-size: 45pt; } }
  .page-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #eaaaf6;
    font-size: 40pt; }
    @media (min-width: 992px) {
      .page-content h2 {
        font-size: 20pt; } }
  .page-content a {
    color: #c2d7ff; }
  .page-content a:hover {
    text-shadow: 0px 0px 10px #c2d7ff; }
  .page-content code {
    padding: 0.1em;
    font-size: 35pt;
    font-weight: bold; }
    @media (min-width: 992px) {
      .page-content code {
        font-size: 15pt; } }
  .page-content .youtube-container {
    text-align: center; }
    .page-content .youtube-container iframe {
      width: 75%; }

.home-portrait-bullets {
  display: flex;
  clear: right; }
  .home-portrait-bullets .home-portrait {
    display: flex;
    align-self: right;
    right: 3em; }
    @media (min-width: 992px) {
      .home-portrait-bullets .home-portrait {
        max-width: 150px; } }
    @media (max-width: 991px) {
      .home-portrait-bullets .home-portrait {
        height: 400px;
        align-self: center; } }
  .home-portrait-bullets .bullets {
    flex-grow: 1; }

.home-portrait-bullets::after {
  content: "";
  clear: both;
  display: table; }

.page-container {
  display: block;
  background-color: rgba(51, 35, 58, 0.6); }

.nav-border-container {
  width: 100%;
  height: 100vh;
  display: grid; }
  @media (min-width: 992px) {
    .nav-border-container {
      justify-content: center; } }
  .nav-border-container > .nav-pages {
    overflow-y: auto; }
    @media (max-width: 991px) {
      .nav-border-container > .nav-pages {
        margin-top: 8em; } }
    .nav-border-container > .nav-pages > .nav-item {
      padding-left: 0.75em;
      height: min-content;
      vertical-align: middle;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 64pt;
      color: #888;
      margin-top: 1px;
      margin-bottom: 1px; }
      @media (min-width: 992px) {
        .nav-border-container > .nav-pages > .nav-item {
          font-size: 18pt;
          padding-left: 1em; } }
      .nav-border-container > .nav-pages > .nav-item .subproject {
        font-size: 36pt;
        padding-left: 40pt; }
        @media (min-width: 992px) {
          .nav-border-container > .nav-pages > .nav-item .subproject {
            font-size: 75%;
            margin-top: 1px;
            margin-bottom: 1px; } }
      .nav-border-container > .nav-pages > .nav-item a {
        display: inline-block;
        text-decoration: none;
        color: #c2d7ff; }
      .nav-border-container > .nav-pages > .nav-item a:hover {
        text-shadow: 0px 0px 10px #c2d7ff; }
      .nav-border-container > .nav-pages > .nav-item .nav-projects-dropdown > a {
        font-size: xx-large; }
        .nav-border-container > .nav-pages > .nav-item .nav-projects-dropdown > a .project {
          font-size: medium; }
        @media (min-width: 992px) {
          .nav-border-container > .nav-pages > .nav-item .nav-projects-dropdown > a {
            font-size: medium; } }
    .nav-border-container > .nav-pages > .nav-item:visited {
      color: #c2d7ff; }

.credits {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #7498cf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-size: 24pt;
  width: inherit; }
  @media (min-width: 992px) {
    .credits {
      font-size: 14pt; } }
  .credits a {
    color: #c2d7ff; }
  .credits p {
    margin-bottom: 0; }
  .credits a:hover {
    text-shadow: 0px 0px 10px #c2d7ff; }

.socials-credits {
  align-self: end;
  justify-self: center;
  position: relative;
  bottom: 30%;
  margin-top: 30%; }

.nav-socials {
  display: flex; }
  @media (min-width: 992px) {
    .nav-socials {
      margin-top: 10%;
      margin-bottom: -5%; } }
  @media (max-width: 991px) {
    .nav-socials {
      margin-bottom: 5em; } }
  .nav-socials .social-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #7498cf;
    margin-left: auto;
    margin-right: auto;
    /*a:hover {
			text-shadow: 0px 0px 10px $color-content-light;
		}*/ }
    .nav-socials .social-link a {
      text-align: right;
      color: #fff;
      text-decoration: none; }
      .nav-socials .social-link a img {
        width: 2.5em;
        height: 2.5em; }
        @media (max-width: 991px) {
          .nav-socials .social-link a img {
            width: 128px;
            height: 128px; } }
  .nav-socials .link-tumblr > a > img {
    max-height: auto; }
  .nav-socials .link-bluesky > a > img {
    filter: saturate(0) brightness(2); }
  .nav-socials .link-email {
    margin-top: -1em; }
    .nav-socials .link-email a {
      font-size: 40pt; }
      @media (max-width: 991px) {
        .nav-socials .link-email a {
          font-size: 64pt; } }
.two-side-by-side {
  display: flex; }
  .two-side-by-side :first-child {
    padding-right: 0.3em; }
    @media (min-width: 992px) {
      .two-side-by-side :first-child {
        padding-right: 0.15em; } }
  .two-side-by-side :last-child {
    padding-left: 0.3em; }
    @media (min-width: 992px) {
      .two-side-by-side :last-child {
        padding-right: 0.15em; } }
  .two-side-by-side video {
    width: 50%; }
